h1 { 
	font-family: "Segoe UI";
	margin-left: 0px;
}

h2 {
	font-family: "Segoe UI";
	margin-left: 5px;
}

h3 {
	font-family: "Segoe UI";
	margin: 5px;
	margin-left: 20px;
}

p {
	font-family: "Segoe UI";
	color: #000000;
	margin: 5px;
	width:400px;
}

body { 
	background-image: url("wavegrid_@2X.png");
	margin: 0px !important;
}

a {    
	text-decoration: none
}

a:hover {  
	font-family: "Segoe UI";  
	color: #336699; 
	text-decoration: underline
}

img { 
    margin-left: 200px
}
