h1 { 
	font-family: "Courier New";
	margin-left: 0px;
	
}

h2 {
	font-family: "Courier New";
	margin-left: 5px;
	}

h3 {
	font-family: "Courier New";
	margin: 5px;
	margin-left: 20px;
	
}

p {
	font-family: "Courier New";
	color: #000000;
	margin: 5px;
	width:400px;
	
	font-style: italic;
}

body { 
	background-image: url("knitting250px_@2X.png");
	margin: 0px !important;
}

a {    
	font-family: "Courier New";
	text-decoration: none;
}

a:hover {  
	font-family: "Courier New";  
	color: #00BCB5; 
	text-decoration: underline
}

a:visited {
	font-family: "Courier New";
	color: #005350;
	text-decoration: none;
}

a:active {
	font-family: "Courier New";
	color: #006F6B;
	text-decoration: none;
}

img { 
    margin-left: 200px
    
}
