body {
	padding-left:15%;
	background-image: url("knitting250px.png");
	margin: 0px !important;
}

#header {
	width: 400px;
	background-color: #9974AA;
    opacity: .6;
    padding-right: 55px;
}
h1 { 
	font-family: "Courier New";
	margin: 5px;
	margin-left: 50px;
	opacity: 1;
}

h2 {
	font-family: "Courier New";
	margin:5px;
	margin-left: 50px;
}

h3 {
	font-family: "Courier New";
	margin: 5px;
	margin-left: 50px;
	width:500px;
}

p {
	font-family: "Courier New";
	color: #000000;
	margin:5px;
	margin-left: 50px;
	width:400px;
	font-style: italic;
}

ul {
	font-family: "Courier New";
	color: #000000;
	margin:5px;
	margin-left: 50px;
	width:400px;
	font-style: italic;
}

a {    
	font-family: "Courier New";
	text-decoration: none;
	color: #361356;
	margin-left: 50px;
}

a:hover {  
	font-family: "Courier New";  
	color: #3A1356; 
	text-decoration: underline;

}

a:visited {
	font-family: "Courier New";
	color: #477187;
	text-decoration: none;
}

a:active {
	font-family: "Courier New";
	color: #9277AC;
	text-decoration: none;
}

img { 
    margin-left: 50px;
    
}

#credit {
	text-align: left;
	font-size: 8px;
	position: static;
	bottom: 5px;

}
